## mastodon config stuff
mastodon-url = mastodon.social

## you can provide your own token, but if not
## one will be generated!
#mastodon-token = someCoolToken

## twitter config stuff

# if you're downloading the official release, you won't need to set these
#  they will be set automatically
# if you are building from source, you'll need to register an app with twitter
#  at https://dev.twitter.com and set the consumer-key and consumer-secret
#  to their proper values. the token values will be set automatically

#twitter-consumer-key = twitterKey
#twitter-consumer-secret = twitterSecret
#twitter-access-token = twitterAccessToken
#twitter-token-secret = twitterTokenSecret



## crossposter options

# comma-separated list of strings that, when found
#  in a post, should not be crossposted
# defaults to none
filters = filter1, filter2

# the level of privacy to consider when crossposting.
# any posts made with the users account that is at or
#  above this level of privacy will be crossposted.
#
# e.g., unlisted will crosspost unlisted and public posts
#       private will crosspost private, unlisted, and public posts
# defaults to public if not set
privacy-level = unlisted

# set this to true to crosspost non-reply mastodon posts
# with the mention changed to the url of the account
#
# *NOTE*: please take care and be mindful of people's privacy
#          when setting this to true
# defaults to false when not set
crosspost-mentions = false

# this sets the polling method that tootapult will take
# if set for streaming then all updates are handled in real-time
# if set for rest then updates will be batched and set out
polling-method = streaming # or rest


## rest only options

# this sets how often the rest polling method will check for new toots
# defaults to 5 minute intervals
polling-frequency = 500

# if turned on, then the crossposter will only post a toot
# to twitter if the toot has been faved by the account that
# posted it
#
# if the self fave gets removed then the corresponding tweet
# gets deleted as well
#
# *NOTE*: if changing from streaming polling to rest polling
#         your crossposted statuses will probably NOT be self-faved
#         which will mean that the next time the crossposter
#         is ran, those tweets will be deleted
crosspost-self-faves = true # defaults to false