## mastodon config stuff
mastodon-url = mastodon.social
mastodon-token = someCoolToken

## twitter config stuff
twitter-consumer-key = twitterKey
twitter-consumer-secret = twitterSecret
twitter-access-token = twitterAccessToken
twitter-token-secret = twitterTokenSecret

## crossposter options

# comma-separated list of strings that, when found
#  in a post, should not be crossposted
filters = filter1, filter2
crosspost-mentions = false